.addTask {
    display: flex;
    flex-direction: column;
    width: 1116px;
    height: 870px;
    padding: 64px 74px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px #0000001a;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    overflow-y: scroll;

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 32px;

        h3 {
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .closeDiv {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            font-size: 24px;

            &:hover {
                cursor: pointer;
                color: #29abe2;
                transition: color 100ms ease-in-out;
            }
        }
    }
}

::-webkit-scrollbar{
    width: 0px;
}
