<div class="doc">
    <header>
        <h3>Legal Notice</h3>
        <span class="material-symbols-outlined icon" (click)="backToSummary()">
            arrow_back
        </span>

    </header>

    <div class="docContent">

        <p class="text">Stefan Boskamp<br />
            Katharina-Geisler-Str. 10<br />
            85356 Freising</p>

        <h4>Contact</h4>
        <p class="text">E-Mail: info&#64;stefan-boskamp.de

        <p class="text">Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

    </div>
</div>