<div class="contactsList">
    <div *ngFor="let contact of data.allContacts; let i = index;">
        <div class="contactBox sticky" *ngIf="i == 0">
            <button class="addContactBtn" (click)="startShadowView()">
                Add new contact
                <span class="material-symbols-outlined">
                    person_add
                </span>
            </button>
        </div>
        <div class="contactBox" *ngIf="i == 0 || (data.allContacts[i].name_abbreviation[1] != data.allContacts[i - 1].name_abbreviation[1])" [class.topMargin]="i == 0">
            <div class="contactItem">
                <p class="alphabet">{{contact.name_abbreviation[1]}}</p>
            </div>
        </div>
        <div class="contactBox">
            <div class="contactItem" (click)="selectContact(i)" [class.hover]="data.selectedContact != i" [class.selected]="data.selectedContact == i">
                <div class="bageItem" [style.background-color]="contact.background_color">
                    <span >{{contact.name_abbreviation}}</span>
                </div>
                <div class="contactData">
                    <p class="username" [class.nameSelected]="data.selectedContact == i">{{contact.firstname}} {{contact.lastname}}</p>
                    <p href="" class="email">{{contact.email}}</p>
                </div>   
            </div>
        </div>
    </div>
</div>
<div class="detailView">
    <header>
        <h3>Contacts</h3>
        <div class="divider"></div>
        <span>Better with a team</span>
    </header>
    <div class="contactDetails" *ngIf="data.selectedContact != -1">
        <div class="headline">
            <div class="bageItem" [style.background-color]="data.allContacts[data.selectedContact].background_color">
                <span>{{data.allContacts[data.selectedContact].name_abbreviation}}</span>
            </div>
            <div class="contactDetail">
                <div class="contactName">
                    <p>{{data.allContacts[data.selectedContact].firstname}} {{data.allContacts[data.selectedContact].lastname}}</p>
                </div>
                <div class="contactOptions">
                    <div class="btnEdit" (click)="startEditContactView()" 
                    *ngIf="data.allContacts[this.data.selectedContact].id_user == data.loggedUserData[0].id || 
                    !this.data.allContacts[this.data.selectedContact].has_account">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        <p>Edit</p>
                    </div>
                    <div class="btnDelete" *ngIf="!data.allContacts[data.selectedContact].has_account" (click)="deleteContact(data.allContacts[data.selectedContact].id, data.selectedContact)">
                        <span class="material-symbols-outlined" (click)="startAddContactDoneView()">
                            delete
                        </span>
                        <p>Delete</p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Contact Information</h4>
        <div class="emailPhone">
            <div class="info">
                <h5>Email</h5>
                <span href="" class="email">{{data.allContacts[data.selectedContact].email}}</span>
            </div>
            <div class="info">
                <h5>Phone</h5>
                <p *ngIf="data.allContacts[data.selectedContact].phone != 0">{{data.allContacts[data.selectedContact].phone}}</p>
            </div>  
        </div>
    </div>
</div>