.taskCard {
    display: flex;
    flex-direction: column;
    width: 525px;
    height: 931px;
    padding: 48px 40px 48px 40px;
    box-sizing: border-box;
    border-radius: 30px;
    gap: 24px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #00000029;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .category {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 36px;
            padding: 4px 24px 4px 24px;
            border-radius: 8px;
            box-sizing: border-box;
            gap: 10px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            color: white;
            font-family: Inter;
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            letter-spacing: 0em;
        }

        .closeDiv {
            display: flex;
            width: 35px;

            .closeIcon {
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                    color: #29abe2;
                    transition: color 100ms ease-in-out;
                }
            }
        }
    }

    .title {
        font-family: Inter;
        font-size: 61px;
        font-weight: 700;
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .description {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .additionalData {
        display: flex;
        justify-content: flex-start;
        gap: 25px;

        h6 {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
            min-width: 82px;
        }

        .data {
            display: flex;
            justify-content: flex-start;
            width: fit-content;

            p {
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }

            .urgent{
                color: #ff3d00;
            }

            .medium{
                color: #ffa800;
            }

            .low{
                color: #7ae229;
            }
        }
    }

    .assignedTo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        h6 {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
            min-width: 82px;
        }

        .list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            max-height: 176px;
            gap: 4px;
            background-color: #29abe2;
            overflow: hidden;
            overflow-y: scroll;

            .contact{
                display: flex;
                justify-content: flex-start;
                width: 100%;
                padding: 7px 16px;
                box-sizing: border-box;
                gap: 16px;

                .bage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    width: 42px;
                    height: 42px;
                    background-color: #2a3647;
    
                    span {
                        color: white;
                        font-family: Inter;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.4px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

                .name{

                }


            }

            

        }

    }
}


::-webkit-scrollbar{
    width: 0px;
}
