<div class="taskCard">
    <div>
        <p class="category" [style.background-color]="taskCard.category == 'Technical Task' ? '#0038ff' : '#1fd7c1'">
            {{taskCard.category}}</p>



        <div class="closeDiv" (click)="closeTaskEditView()">
            <span class="material-symbols-outlined closeIcon">
                close
            </span>
        </div>

    </div>

    <h3 class="title">{{taskCard.title}}</h3>

    <p class="description">
        {{taskCard.description}}
    </p>

    <div class="additionalData">
        <h6>Due Date:</h6>
        <div class="data">
            <p>{{taskCard.dueDate}}</p>
        </div>
    </div>

    <div class="additionalData">
        <h6>Priority:</h6>
        <div class="data">
            <p *ngIf="taskCard.prio == 1">Urgent</p>
            <p *ngIf="taskCard.prio == 2">Medium</p>
            <p *ngIf="taskCard.prio == 3">Low</p>

            <span class="material-symbols-outlined urgent" *ngIf="taskCard.prio == 1">
                keyboard_double_arrow_up
            </span>
            <span class="material-symbols-outlined medium" *ngIf="taskCard.prio == 2">
                equal
            </span>
            <span class="material-symbols-outlined low" *ngIf="taskCard.prio == 3">
                keyboard_double_arrow_down
            </span>
        </div>
    </div>

    <div class="assignedTo">
        <h6>Assigned To:</h6>
        <div class="list">
            <div class="contact" *ngFor="let contact of taskCard.assignTo;">
                <div class="bage" [style.background-color]="contact.background_color">
                    <span>{{contact.name_abbreviation}}</span>
                </div>
                <span class="name">{{contact.username}}</span>
            </div>
        </div>
    </div>

    <div class="subtasks">
        <h6>Subtasks:</h6>
        <div class="list">
            <div class="item" *ngFor="let item of taskCard.subtask; let i = index">
                <input type="checkbox" [checked]="item.checked" (click)="changeSubtaskCheckbox(i)">
                <span>{{item.subtask}}</span>
            </div>
        </div>
    </div>

    <div class="options">
        <div class="btnEdit">
            <span class="material-symbols-outlined icon">
                edit
            </span>
            <p>Edit</p>
        </div>
        <div class="btnDelete">
            <span class="material-symbols-outlined icon">
                delete
            </span>
            <p>Delete</p>
        </div>
    </div>

</div>
