.taskCard {
    display: flex;
    flex-direction: column;
    width: 525px;
    max-height: calc(100vh - 40px);
    padding: 48px 40px 48px 40px;
    box-sizing: border-box;
    border-radius: 30px;
    gap: 24px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #00000029;
    overflow: hidden;
    overflow-y: scroll;

    .closeLine {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .closeDiv {
            display: flex;
            width: 35px;

            .closeIcon {
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                    color: #29abe2;
                    transition: color 100ms ease-in-out;
                }
            }
        }
    }

    .formField {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;

        .head {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;

            span {
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #ff8190;
            }
        }

        textarea {
            display: flex;
            position: relative;
            width: 100%;
            height: 136px;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            padding: 12px 21px;
            box-sizing: border-box;
            background-color: white;
            padding: 12px 21px;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .assignToList {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5px;
        margin-left: 2px;
        flex-wrap: wrap;

        div {
            .bageItem {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                width: 42px;
                border-radius: 100%;
                margin-right: 8px;

                span {
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;
                }
            }
        }
    }

    .prioBtnDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;

        p {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .prioBtnContent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .urgentBtn {
                cursor: pointer;

                &:hover {
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }

                .urgent {
                    color: #ff3d00;
                }
            }

            .urgentBtnSelected {
                cursor: pointer;
                transition: background-color 100ms ease-in-out;
                background-color: #ff3d00 !important;
                color: white;

                &:hover {
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }

                .urgent {
                    color: white !important;
                }
            }

            .mediumBtn {
                cursor: pointer;

                &:hover {
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }

                .medium {
                    color: #ffa800;
                }
            }

            .mediumBtnSelected {
                cursor: pointer;
                transition: background-color 100ms ease-in-out;
                background-color: #ffa800 !important;
                color: white;

                &:hover {
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }

                .medium {
                    color: white !important;
                }
            }

            .lowBtn {
                cursor: pointer;

                &:hover {
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }

                .low {
                    color: #7ae229;
                }
            }

            .lowBtnSelected {
                cursor: pointer;
                transition: background-color 100ms ease-in-out;
                background-color: #7ae229 !important;
                color: white;

                &:hover {
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }

                .low {
                    color: white !important;
                }
            }

            .prioBtn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 136px;
                height: 56px;
                padding: 16px 10px;
                box-sizing: border-box;
                background-color: white;
                border-radius: 10px;

                p {
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                }

                .urgent {
                    color: #ff3d00;
                }

                .low {
                    color: #7ae229;
                }
            }
        }
    }
}

.dropAssign {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 46px;
    left: 0px;
    width: 100%;
    height: 228px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000a;
    z-index: 2;
    overflow: hidden;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        width: 0px;
    }

    div {

        .contactLine {
            display: flex;
            flex-direction: row;
            padding: 8px 16px;
            box-sizing: border-box;
            justify-content: space-between;

            .contactLineLeft {
                display: flex;
                flex-direction: row;
                height: 42px;
                align-items: center;
                gap: 16px;

                .bage {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 42px;
                    width: 42px;
                    border-radius: 100%;

                    span {
                        font-family: Inter;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: white;
                    }
                }

                p {
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                }
            }

            input {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.subtask {
    cursor: pointer;

    &:hover {
        transition: color 100ms ease-in-out;
        color: #29abe2;
    }
    
}

.closeSubtask {
    cursor: pointer;

    &:hover {
        transition: color 100ms ease-in-out;
        color: #29abe2;
    }
}

.addSubtask {
    cursor: pointer;

    &:hover {
        transition: color 100ms ease-in-out;
        color: #29abe2;
    }
}

.subtaskList {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 127.92px;
    overflow: hidden;
    overflow-y: scroll;

    .subtaskItem {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 4px 16px;
        box-sizing: border-box;

        &:hover {
            background-color: white;
        }

        li {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            width: calc(100% - 58px);

            span {
                font-family: Inter;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }
        }

        input {
            outline: unset;
            border: none;
            height: 24px;
            font-family: Inter;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            width: calc(100% - 35px);
        }

        .icons {
            display: flex;
            gap: 4px;

            .iconPen {
                cursor: pointer;

                &:hover {
                    transition: color 100ms ease-in-out;
                    color: #29abe2;
                }
            }

            .iconTrash {
                cursor: pointer;

                &:hover {
                    transition: color 100ms ease-in-out;
                    color: #29abe2;
                }
            }

            .subtaskDivider {
                height: 24px;
                border-left: 1px solid #d1d1d1;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}
