header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: white;

    .menuBtn{
        display: none;
        cursor: pointer;

        &:hover{
            transition: color 100ms ease-in-out;
            color: #29abe2;
        }
    }

    h3 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .headerRight {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 56px;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;

            img {
                width: auto;
                height: 32px;
                cursor: pointer;
                &:hover {
                    height: 40px;
                }
            }
        }

        .userIcon {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 100%;
            border: 3px solid #2a3647;

            &:hover {
                cursor: pointer;
            }

            span {
                font-family: Inter;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #29abe2;
                color: white;
            }

            .submenu {
                display: flex;
                flex-direction: column;
                position: absolute;
                align-items: flex-start;
                z-index: 2;
                top: 78px;
                right: 0px;
                width: 150px;
                height: 158px;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 20px 0px 20px 20px;
                box-shadow: 0px 0px 4px 0px #0000001a;
                background-color: #2a3647;

                span {
                    display: flex;
                    width: 100%;
                    padding: 8px 16px 8px 16px;
                    box-sizing: border-box;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #cdcdcd;

                    &:hover {
                        cursor: pointer;
                        transition: color 100ms ease-in-out;
                        color: #29abe2;
                    }
                }
            }
        }
    }
}


@media (max-width: 1100px) {
    .menuBtn{
        display: flex !important;
        z-index: 5;
    }
}