<div class="summary">
    <header>
        <h3>Join 360</h3>
        <div class="divider"></div>
        <span>Key Metrics at a Glance</span>
    </header>
    
    <div class="content">
        <div class="overview">
            <div class="dualRow">
                <div class="todo" (click)="goToBoard()" (mouseover)="toDoEntered = true" (mouseleave)="toDoEntered = false">
                    <span class="material-symbols-outlined icon" [style.background]="toDoEntered ? 'white' : 'black'" [style.color]="toDoEntered ? 'black' : 'white'">
                        edit
                    </span>
                    <div class="amount">
                        <span class="number">{{counterToDo()}}</span>
                        <span class="text">To-do</span>
                    </div>
                </div>
                <div class="todo" (click)="goToBoard()" (mouseover)="doneEntered = true" (mouseleave)="doneEntered = false">
                    <span class="material-symbols-outlined icon" [style.background]="doneEntered ? 'white' : 'black'" [style.color]="doneEntered ? 'black' : 'white'">
                        done
                    </span>
                    <div class="amount">
                        <span class="number">{{counterDone()}}</span>
                        <span class="text">Done</span>
                    </div>
                </div>
            </div>
            <div class="singleRow" (click)="goToBoard()">
                <div class="urgent">
                    <span class="material-symbols-outlined icon">
                        keyboard_double_arrow_up
                    </span>
                    <div class="amount">
                        <span class="number">{{counterToDoUrgent()}}</span>
                        <span class="text">To-do</span>
                    </div>
                </div>
                <div class="dividerOuter">
                    <div class="dividerGrey"></div>
                </div>
                <div class="deadline">
                    <!-- <span class="date">Dezember 16, 2022</span> -->
                    <span class="date">{{upcomingDeadline()}}</span>
                    <span class="text">Upcoming Deadline</span>
                </div>
                
            </div>
            <div class="tripleRow">
                <div class="tasks" (click)="goToBoard()">
                    <div class="amount">
                        <span class="number">{{taskInBoard()}}</span>
                        <span class="text">Tasks in</span>
                        <span class="text">Board</span>
                    </div>
                </div>
                <div class="tasks" (click)="goToBoard()">
                    <div class="amount">
                        <span class="number">{{taskInProgress()}}</span>
                        <span class="text">Tasks in</span>
                        <span class="text">Progress</span>
                    </div>
                </div>
                <div class="tasks" (click)="goToBoard()">
                    <div class="amount">
                        <span class="number">{{taskAwaitingFeedback()}}</span>
                        <span class="text">Awaiting</span>
                        <span class="text">Feedback</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="greeting">
            <span>{{greeting}}</span>
            <span>{{data.loggedUserData[0].username}}</span>
        </div>
    </div>
</div>


