.summary {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 56px;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 30px;

        h3 {
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .divider {
            height: 59px;
            border-right: 3px solid #29abe2;
        }

        span {
            font-family: Inter;
            font-size: 27px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 80px;

        .overview {
            display: flex;
            flex-direction: column;
            width: 560px;
            gap: 28px;

            .dualRow {
                display: flex;
                flex-direction: row;
                gap: 28px;

                .todo {
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    border-radius: 30px;
                    width: 264px;
                    height: 168px;
                    align-items: center;
                    gap: 18px;
                    justify-content: center;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 69px;
                        height: 69px;
                        font-size: 32px;
                        border-radius: 100%;
                        background-color: black;

                        color: white;
                    }

                    .amount {
                        display: flex;
                        flex-direction: column;

                        .number {
                            font-family: Inter;
                            font-size: 64px;
                            font-weight: 600;
                            line-height: 77px;
                            letter-spacing: 0em;
                            text-align: center;
                        }

                        .text {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                }
            }

            .singleRow {
                display: flex;
                width: 100%;
                height: 168px;
                border-radius: 30px;
                background-color: white;

                .urgent {
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    border-radius: 30px;
                    width: 264px;
                    height: 168px;
                    align-items: center;
                    gap: 18px;
                    justify-content: center;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 69px;
                        height: 69px;
                        font-size: 50px;
                        border-radius: 100%;
                        background-color: #ff3d00;
                        color: white;
                    }

                    .amount {
                        display: flex;
                        flex-direction: column;

                        .number {
                            font-family: Inter;
                            font-size: 64px;
                            font-weight: 600;
                            line-height: 77px;
                            letter-spacing: 0em;
                            text-align: center;
                        }

                        .text {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                }

                .dividerOuter {
                    display: flex;
                    height: 100%;
                    align-items: center;

                    .dividerGrey {
                        border-left: 2px solid #d1d1d1;
                        height: 102px;
                    }
                }

                .deadline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% - 266px);

                    .date {
                        min-width: 170px;
                        font-family: Inter;
                        font-size: 21px;
                        font-weight: 700;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                    }

                    .text {
                        min-width: 170px;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
            }

            .tripleRow {
                display: flex;
                flex-direction: row;
                gap: 28px;

                .tasks {
                    display: flex;
                    width: 168px;
                    height: 168px;
                    border-radius: 30px;
                    background-color: white;
                    align-items: center;
                    justify-content: center;

                    .amount {
                        display: flex;
                        flex-direction: column;

                        .number {
                            font-family: Inter;
                            font-size: 64px;
                            font-weight: 600;
                            line-height: 77px;
                            letter-spacing: 0em;
                            text-align: center;
                        }

                        .text {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .greeting {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            span {
                font-family: Inter;
                font-size: 47px;
                font-weight: 500;
                line-height: 56px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}
