.summary {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 56px;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 30px;

        h3 {
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .divider {
            height: 59px;
            border-right: 3px solid #29abe2;
        }

        span {
            font-family: Inter;
            font-size: 27px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 80px;

        .overview {
            display: flex;
            flex-direction: column;
            width: 560px;
            gap: 28px;

            .dualRow {
                display: flex;
                flex-direction: row;
                gap: 28px;

                .todo {
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    border-radius: 30px;
                    width: 264px;
                    height: 168px;
                    align-items: center;
                    gap: 18px;
                    justify-content: center;

                    &:hover {
                        transition: background-color 100ms ease-in-out;
                        transition: color 100ms ease-in-out;
                        transition: box-shadow 100ms ease-in-out;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        background-color: #2a3647;
                        color: white !important;
                        cursor: pointer;
                    }

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 69px;
                        height: 69px;
                        font-size: 32px;
                        border-radius: 100%;
                        background-color: black;

                        color: white;
                    }

                    .amount {
                        display: flex;
                        flex-direction: column;

                        .number {
                            font-family: Inter;
                            font-size: 64px;
                            font-weight: 600;
                            line-height: 77px;
                            letter-spacing: 0em;
                            text-align: center;
                        }

                        .text {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                }
            }

            .singleRow {
                display: flex;
                width: 100%;
                height: 168px;
                border-radius: 30px;
                background-color: white;

                &:hover {
                    transition: background-color 100ms ease-in-out;
                    transition: color 100ms ease-in-out;
                    transition: box-shadow 100ms ease-in-out;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    background-color: #2a3647;
                    color: white !important;
                    cursor: pointer;
                }

                .urgent {
                    display: flex;
                    flex-direction: row;
                    border-radius: 30px;
                    width: 264px;
                    height: 168px;
                    align-items: center;
                    gap: 18px;
                    justify-content: center;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 69px;
                        height: 69px;
                        font-size: 50px;
                        border-radius: 100%;
                        background-color: #ff3d00;
                        color: white;
                    }

                    .amount {
                        display: flex;
                        flex-direction: column;

                        .number {
                            font-family: Inter;
                            font-size: 64px;
                            font-weight: 600;
                            line-height: 77px;
                            letter-spacing: 0em;
                            text-align: center;
                        }

                        .text {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                }

                .dividerOuter {
                    display: flex;
                    height: 100%;
                    align-items: center;

                    .dividerGrey {
                        border-left: 2px solid #d1d1d1;
                        height: 102px;
                    }
                }

                .deadline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% - 266px);

                    .date {
                        min-width: 170px;
                        font-family: Inter;
                        font-size: 21px;
                        font-weight: 700;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                    }

                    .text {
                        min-width: 170px;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
            }

            .tripleRow {
                display: flex;
                flex-direction: row;
                gap: 28px;

                .tasks {
                    display: flex;
                    width: 168px;
                    height: 168px;
                    border-radius: 30px;
                    background-color: white;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        transition: background-color 100ms ease-in-out;
                        transition: color 100ms ease-in-out;
                        transition: box-shadow 100ms ease-in-out;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        background-color: #2a3647;
                        color: white !important;
                        cursor: pointer;
                    }

                    .amount {
                        display: flex;
                        flex-direction: column;

                        .number {
                            font-family: Inter;
                            font-size: 64px;
                            font-weight: 600;
                            line-height: 77px;
                            letter-spacing: 0em;
                            text-align: center;
                        }

                        .text {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .greeting {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            span {
                font-family: Inter;
                font-size: 47px;
                font-weight: 500;
                line-height: 56px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}

.deadlineReached{
    color: crimson !important;
}

@media (max-width: 769px) {
    .summary{
        width: fit-content;
    }
}

@media (max-width: 600px) {
    .summary{

        header{
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            width: fit-content;
            
            h3 {
                font-size: 47px; 
            }
    
            .divider {
                height: unset;
                border-right: unset;
                width: 90px;
                border-bottom: 3px solid #29abe2;
                order: 2;
            }
    
            span {
                font-size: 20px;

            }
        }
    }

    .content {

        .overview {
            width: 396px !important;
            overflow: hidden;

            .dualRow {
                gap: 20px !important;

                .todo {
                    border-radius: 20px !important;
                    width: 186px !important;
                    height: 110px !important;

                    .icon {
                        width: 40px !important;
                        height: 40px !important;
                        font-size: 20px !important;
                    }

                    .amount {

                        .number {
                            font-size: 47px !important;
                        }

                        .text {
                            font-size: 14px !important;
                        }
                    }
                }
            }

            .singleRow {
                height: 110px !important;
                border-radius: 20px !important;

                .urgent {
                    width: 250px !important;
                    height: 100% !important;

                    .icon {
                        width: 40px !important;
                        height: 40px !important;
                        font-size: 20px !important;
                    }

                    .amount {

                        .number {
                            font-size: 47px !important;
                            line-height: 56.4px !important;
                        }

                        .text {
                            font-size: 14px;
                            line-height: 16.8px;
                        }
                    }
                }

                .dividerOuter {

                    .dividerGrey {
                        height: 68px !important;
                    }
                }

                .deadline {
                    width: calc(100% - 110px) !important;

                    .date {
                        font-size: 16px !important;
                        line-height: 19.2px !important;
                    }

                    .text {
                        font-size: 14px !important;
                        line-height: 16.8px !important;
                    }
                }
            }

            .tripleRow {

                .tasks {
                    width: 116px !important;
                    height: 116px !important;
                    border-radius: 20px !important;

                    .amount {

                        .number {
                            font-size: 47px !important;
                            line-height: 56.4px !important;
                        }

                        .text {
                            font-size: 14px !important;
                            line-height: 16.8px !important;
                        }
                    }
                }
            }
        }
    }   
}


@media (max-width: 428px){
    .content {

        .overview {
            width: 300px !important;
            overflow: hidden;

            .dualRow{
                gap: 10px !important;
            }

            .tripleRow{
                gap: 18px !important;
            }

            .singleRow {

                .urgent {
                    width: 174px !important;
                    height: 100% !important;
                }

                .dividerOuter {

                    .dividerGrey {
                        height: 68px !important;
                    }
                }

                .deadline {
                    width: calc(100% - 110px) !important;

                    .date {
                        min-width: unset !important;
                    }

                    .text {
                        min-width: unset !important;
                    }
                }
            }
        }
    }   
}