.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.loginHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 77px;
    height: 120.76px;

    .logo {
        width: 100px;
        height: 122px;
        

        img {
            width: 100px;
            height: auto;
            animation: startAnimation 1000ms forwards;
        }
    }

    .signUp {
        display: flex;
        gap: 35px;

        span {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 48px;
            padding: 15px 16px 15px 16px;
            border-radius: 8px;
            background-color: #2a3647;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                transition: background-color 100ms ease-in-out;
                background-color: #29abe2;
            }
        }
    }
}

.loginMobilHeader{
    display: none;
    height: 78px;
    padding: 37px 38px 37px 38px;

    .logo {
        width: 64px;
        height: 78px;

        img {
            width: 64px;
            height: auto;
            animation: startAnimationMobil 1000ms forwards;
        }
    }
}

.loginContent {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        max-width: 652px;
        min-width: 300px;
        margin: 10px;
        border-radius: 30px;
        padding: 48px 115px 48px 115px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 0px 14px 3px #0000000a;

        h3 {
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: center;
            color: black;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .lineOuter {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: -32px;

            .line {
                width: 150px;
                border: 3px solid #29abe2;
            }
        }

        .inputsDiv {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .remember {
                display: flex;
                gap: 8px;
                margin-left: 39px;
                width: 100%;

                span {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }

        .btnDiv {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 35px;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0px;
    gap: 16px;

    span {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #a8a8a8;
        cursor: pointer;

        &:hover {
            transition: color 100ms ease-in-out;
            color: #29abe2;
        }
    }
}


::-webkit-scrollbar{
    width: 0px;
}


@keyframes startAnimation {
    0%{
        display: flex;
        position: absolute;
        top: calc(50% - 183px);
        left: calc(50% - 150px);
        width: 300px;
        height: auto;
        z-index: 5;
    }

    100%{
        display: flex;
        position: unset;
        top: 80px;
        left: 77px;
        width: 100px;
        height: auto;
    }
}

@keyframes startAnimationMobil {
    0%{
        display: flex;
        position: absolute;
        top: calc(50% - 183px);
        left: calc(50% - 150px);
        width: 300px;
        height: auto;
        z-index: 5;
    }

    100%{
        display: flex;
        position: unset;
        top: 37px;
        left: 38px;
        width: 64px;
        height: auto;
    }
}


@media (max-width: 700px) {
    .loginMobilHeader{
        display: flex;
    }
    .loginPage {
        justify-content: flex-start;
    }

    .loginHeader{
        order: 1;
        padding: 48px;
        justify-content: center;
        padding: 48px 10px;

        .signUp{
            justify-content: center;
            align-items: center;
        }

        .logo{
            display: none;
        }
    }

    footer{
        order: 2;
        padding: 0px 0px 48px 0px;
    }

    
    .loginContent {
        display: flex;
        justify-content: center;
        align-items: center;
    
        form {
            padding: 20px 16px;
        }
    }
}


@media (max-width: 360px) {
    .loginContent {
        display: flex;
        justify-content: center;
        align-items: center;
    
        form {
            padding: 16px;
    
            .btnDiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .primaryBtn{
                    width: 166px !important;
                }

                .disabledBtn{
                    width: 166px!important;
                }
            }
        }
    }
}
