.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1024px;
    width: 100%;

}


.loginHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 77px;

    .logo{
        width: 100px;
        height: 122px;

        img{
            width: 100px;
            height: auto;
        }
    }

    .signUp{
        display: flex;
        // width: 279px;
        gap: 35px;

        span{
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 48px;
            padding: 15px 16px 15px 16px;
            border-radius: 8px;
            background-color: #2A3647;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover{
                transition: background-color 100ms ease-in-out;
                background-color: #29ABE2;
            }
        }
    }
}

.loginContent {
    display: flex;
    justify-content: center;
    align-items: center;

    form{ 
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 652px;
        height: 493px;
        border-radius: 30px;
        padding: 48px 115px 48px 115px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 0px 14px 3px #0000000A;

        h3{
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: center;
            color: black;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .lineOuter{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: -32px;

            .line{
                width: 150px;
                border: 3px solid #29ABE2;
            }
        }

        .inputsDiv{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .remember{
                display: flex;
                gap: 8px;
                margin-left: 39px;
                width: 100%;

                span{
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }

        .btnDiv{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 35px;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0px;
    gap: 16px;

    span{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #A8A8A8;
        cursor: pointer;

        &:hover{
            transition: color 100ms ease-in-out;
            color: #29ABE2;
        }
    }
}