.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
    width: 232px; 
    background-color: #2A3647;

    .sidenavTop{

        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 64px 0px;
    
            img{
                width: auto;
                height: 122px;
            }
        }
    
        .menu{
            display: flex;
            flex-direction: column;
            width: 100%;
    
            .menuItem {
                display: flex;
                align-items: center;
                height: 46px;
                width: 100%;
                gap: 8px;
                padding: 8px 56px 8px 56px;
                box-sizing: border-box;
                color: #CDCDCD;
                cursor: pointer;
                &:hover{
                    transition: background-color 100ms ease-in-out;
                    transition: color 100ms ease-in-out;
                    background-color: #091931;
                    color: white;
                }
    
                img{
                    width: auto;
                    height: 30px;
                }
    
                span{
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                }
            }
        }

    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 56px 52px 56px;
        box-sizing: border-box;

        span{
            height: 35px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #A8A8A8;
            cursor: pointer;
            &:hover{
                transition: color 100ms ease-in-out;
                color: #29ABE2;
            }
        }

    }

    
}


.selected {
    background-color: #091931 !important;
    color: white !important;
}