.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 232px;
    background-color: #2a3647;

    .sidenavTop {
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 64px 0px;

            img {
                width: auto;
                height: 122px;
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            width: 100%;

            .menuItem {
                display: flex;
                align-items: center;
                height: 46px;
                width: 100%;
                gap: 8px;
                padding: 8px 56px 8px 56px;
                box-sizing: border-box;
                color: #cdcdcd;
                cursor: pointer;

                &:hover {
                    transition: background-color 100ms ease-in-out;
                    transition: color 100ms ease-in-out;
                    background-color: #091931;
                    color: white;
                }

                img {
                    width: auto;
                    height: 30px;
                }

                span {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 0px 56px 0px;
        box-sizing: border-box;

        span {
            display: flex;
            align-items: center;
            height: 35px;
            width: 100%;
            gap: 8px;
            padding: 8px 0px 8px 56px;
            box-sizing: border-box;

            height: 35px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #a8a8a8;
            cursor: pointer;

            &:hover {
                transition: color 100ms ease-in-out;
                color: #29abe2;
            }
        }

        .isSelected {
            background-color: #091931;
            color: #a8a8a8;
        }
    }
}

.tabDiv {
    display: flex;
    height: 100vh;
    align-items: center;

    .tabMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #2a3647;
        border-radius: 0px 30px 30px 0px;
        padding: 15px;
        cursor: pointer;

        img {
            width: 40px;
            height: auto;
        }
    }
}

.selected {
    background-color: #091931 !important;
    color: white !important;
}

.hideSideNav {
    transform: translateX(-232px);
    position: absolute;
    animation: sidenavSlideOut 100ms ease-in-out forwards;
}

@keyframes sidenavSlideOut {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-232px);
    }
}

@media (max-width: 1400px) {
    .sidenavTab {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
    }
}
