.home{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;

    .contentRight{
        display: flex; 
        width: calc(100% - 232px); 
        flex-direction:column;
    }

    .popupShadow{
        display: flex; 
        position: absolute;
        top: 0px; 
        left: 0px;
        justify-content:center; 
        align-items:center; 
        width: 100vw; 
        height: 100vh; 
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden; 
        z-index: 1;
    }

    .messageOverlay{
        display: flex; 
        position: absolute;
        top: 0px; 
        left: 0px;
        justify-content: center; 
        align-items: center; 
        width: 100vw; 
        height: 100vh; 
        overflow: hidden;
        padding-bottom: 14vh;
        box-sizing: border-box; 
    }

    .greetingShadow{
        display: flex; 
        position: absolute;
        top: 0px; 
        left: 0px;
        justify-content:center; 
        align-items:center; 
        width: 100vw; 
        height: 100vh; 
        background-color: #F6F7F8;
        overflow: hidden;
        animation: greeting 2000ms 1000ms forwards; 

        .greeting {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            span {
                font-family: Inter;
                font-size: 47px;
                font-weight: 500;
                line-height: 56px;
                letter-spacing: 0em;
                text-align: left;
            }

            .name{
                color:#29abe2;
            }
        }
    }
}

.d-none{
    display: none;
}


@media (max-width: 1400px) {
    .contentRight{
        width: 100% !important;
    }
}

@keyframes greeting {
    0%{
        display: flex !important;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}