<div class="home">
    <app-join-sidenav></app-join-sidenav>
    <div class="contentRight">
        <app-join-header></app-join-header>
        <app-join-content></app-join-content>
    </div>
    <div class="popupShadow" *ngIf="data.shadowView">
        <app-overlay-add-contact *ngIf="data.startAddContactView"></app-overlay-add-contact>
        <app-overlay-edit-contact *ngIf="data.startEditContactView"></app-overlay-edit-contact>
        <app-overlay-edit-task *ngIf="data.startEditTaskView"></app-overlay-edit-task>
    </div>

    <div class="messageOverlay" *ngIf="data.messageOverlayView">
        <app-overlay-add-contact-done *ngIf="data.addContactDoneView"></app-overlay-add-contact-done>
    </div>
</div>

