.home{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;

    .contentRight{
        display: flex; 
        width: calc(100% - 232px); 
        flex-direction:column;
    }

    .popupShadow{
        display: flex; 
        position: absolute;
        top: 0px; 
        left: 0px;
        justify-content:center; 
        align-items:center; 
        width: 100vw; 
        height: 100vh; 
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden; 
    }
}