<div class="home">
    <app-join-sidenav *ngIf="data.innerWidth > 769"></app-join-sidenav>
    <div class="contentRight">
        <app-join-header></app-join-header>
        <app-join-content></app-join-content>
    </div>
    <div class="popupShadow" *ngIf="data.shadowView">
        <app-overlay-add-contact *ngIf="data.startAddContactView" class="popupFrame"></app-overlay-add-contact>
        <app-overlay-edit-contact *ngIf="data.startEditContactView"  class="popupFrame"></app-overlay-edit-contact>
        <app-overlay-detail-view-task *ngIf="data.startDetailTaskView"></app-overlay-detail-view-task>
        <app-overlay-edit-task *ngIf="data.startEditTaskView"></app-overlay-edit-task>
        <app-overlay-add-task *ngIf="data.startBoardAddTaskView"></app-overlay-add-task>
    </div>
    <div class="messageOverlay" *ngIf="data.messageOverlayView">
        <app-sliding-messages *ngIf="data.addContactDoneView"></app-sliding-messages>
    </div>
    <div class="d-none" [class.greetingShadow]="data.innerWidth <= 1100 && data.selectedMenu == 1 && !data.greetingDone">
        <div class="greeting">
            <span>{{greetingResponsiv}}</span>
            <span class="name">{{data.loggedUserData[0].username}}</span>
        </div>
    </div>
    <app-mobil-bottom-menu *ngIf="data.innerWidth <= 769"></app-mobil-bottom-menu>
</div>