<div class="signupPage">
    <header>
        <img src="../../assets/img/login/join_logo.png" alt="">
    </header>

    <form [formGroup]="signupForm" (submit)="signup()">
        <div class="signupHead">
            <span class="material-symbols-outlined" (click)="backToLogin()">
                arrow_left_alt
            </span>
            <h3>Sign up</h3>
        </div>
        <div class="lineOuter">
            <div class="line"></div>
        </div>
        <div class="inputsDiv">
            <div class="authInputs">
                <div class="authInput">
                    <input type="text" placeholder="Firstname"  name="firstname" formControlName="firstname">
                    <img src="../../assets/img/signup/person.png" alt="">
                </div>
                <div class="authInput">
                    <input type="text" placeholder="Lastname"  name="lastname" formControlName="lastname">
                    <img src="../../assets/img/signup/person.png" alt="">
                </div>
                <div class="authInput">
                    <input type="email" placeholder="Email"  name="email" formControlName="email">
                    <img src="../../assets/img/signup/mail.png" alt="">
                </div>
                <div class="authInput">
                    <input type="password" placeholder="Password"  name="password" formControlName="password">
                    <img src="../../assets/img/signup/lock.png" alt="">
                </div>
                <div class="authInput">
                    <input type="password" placeholder="Confirm Password"  name="cPassword" formControlName="cPassword">
                    <img src="../../assets/img/signup/lock.png" alt="">
                </div>
                <div class="remember">
                    <input type="checkbox"> <span>I accept the</span><span class="link">Privacy policy</span>
                </div>
            </div>
        </div>
        <div class="btnDiv">
            <button class="primaryBtn" type="submit">Signup</button>
        </div>
        

    </form>

    <footer>
        <span>Privacy Policy</span>
        <span>Legal Notice</span>
    </footer>




</div>