.signupPage {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;

    header {
        display: flex;
        width: 100%;
        padding: 80px 0px 0px 77px;
        box-sizing: border-box;

        img {
            width: auto;
            height: 122px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
        max-width: 598px;
        min-width: 300px;
        margin: 10px;
        padding: 48px 88px 48px 88px;
        box-sizing: border-box;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0px 0px 14px 3px #0000000a;
        gap: 32px;

        .signupHead {
            display: flex;
            align-items: center;

            span {
                color: #cdcdcd;
                font-size: 32px;
                cursor: pointer;

                &:hover {
                    transition: color 100ms ease-in-out;
                    color: #29abe2;
                }
            }

            h3 {
                display: flex;
                width: calc(100% - 64px);
                justify-content: center;
                font-family: Inter;
                font-size: 61px;
                font-weight: 700;
                line-height: 73px;
                letter-spacing: 0em;
                text-align: center;
                color: black;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }
        }

        .lineOuter {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: -32px;

            .line {
                width: 150px;
                border: 3px solid #29abe2;
            }
        }

        .inputsDiv {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .remember {
                display: flex;
                gap: 8px;
                margin-left: 39px;
                width: 100%;

                span {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                .link {
                    color: #29abe2;
                    cursor: pointer;
                }
            }
        }

        .btnDiv {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 80px 0px;
        gap: 16px;

        span {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #a8a8a8;
            cursor: pointer;

            &:hover {
                transition: color 100ms ease-in-out;
                color: #29abe2;
            }
        }
    }
}

::-webkit-scrollbar{
    width: 0px;
}


@media (max-width: 700px) {
    .signupPage {
        justify-content: flex-start;

        header{
            height: fit-content;
            padding: 37px 38px 37px 38px;
            box-sizing: border-box;
    
            img{
                height: 78px;
                width: 68px;
            }
        }

        form{
            padding: 20px 16px;
        }
    }

    
}