.board {
    display: flex;
    flex-direction: column;
    width: 100%;
    user-select: none;
    ::-webkit-scrollbar {
        width: 0px;
    }

    .headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 73px;
        padding: 79.5px 64px 55.5px 64px;
        box-sizing: border-box;

        h3 {
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;

            .addCrossMobile {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 8px;
                box-sizing: border-box;
                padding: 3px;
                border: 2px solid #2a3647;
                color: white;
                background-color: #2a3647;

                &:hover {
                    cursor: pointer;
                    border: 2px solid #29abe2;
                    color: #29abe2;
                    transition: color 100ms ease-in-out;
                    transition: border 100ms ease-in-out;
                }
            }
        }

        .subheadline {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .boardContent {
        display: flex;
        padding: 0px 64px 20px 64px;
        box-sizing: border-box;
        width: 100%;
        height: calc(100vh - 231px);
        gap: 24px;

        .tasksContainer {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            max-width: 255px;
            position: relative;

            header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 5px;

                h5 {
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                }

                .addCross {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 8px;
                    box-sizing: border-box;
                    padding: 3px;
                    border: 2px solid #2a3647;

                    &:hover {
                        cursor: pointer;
                        border: 2px solid #29abe2;
                        color: #29abe2;
                        transition: color 100ms ease-in-out;
                        transition: border 100ms ease-in-out;
                    }
                }
            }

            .tasksList {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: calc(100% - 29px);
                overflow: hidden;
                overflow-y: scroll;

                div {
                    .task {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        border-radius: 24px;
                        padding: 16px;
                        box-sizing: border-box;
                        gap: 10px;
                        background-color: white;
                        margin-bottom: 16px;
                        cursor: pointer;

                        .category {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 148px;
                            height: 27px;
                            padding: 4px 16px 4px 16px;
                            border-radius: 8px;
                            box-sizing: border-box;
                            gap: 10px;
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                            color: white;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            letter-spacing: 0em;
                        }

                        .backgroundA {
                            background-color: #0038ff;
                        }

                        .backgroundB {
                            background-color: #1fd7c1;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 65px;

                            .title {
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 19.2px;
                                letter-spacing: 0em;
                                text-align: left;
                                margin-block-start: 0px;
                                margin-block-end: 0px;
                            }

                            .description {
                                display: flex;
                                height: 38px;
                                width: 100%;
                                overflow: hidden;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0em;
                                text-align: left;
                                margin-block-start: 0px;
                                margin-block-end: 0px;
                            }
                        }

                        .progress {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 17px;
                            width: 100%;

                            .barOuter {
                                height: 8px;
                                background-color: #f4f4f4;
                                border-radius: 8px;
                                width: calc(100% - 78px);
                            }

                            .progressBar {
                                height: 100%;
                                background-color: #4589ff;
                                border-radius: 8px;
                            }

                            .subtasks {
                                color: black;
                                font-family: Inter;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14px;
                                letter-spacing: 0em;
                                text-align: left;
                            }
                        }

                        .bagesAndPrio {
                            display: flex;
                            justify-content: space-between;
                            gap: 10px;
                            width: 100%;

                            .bages {
                                display: flex;
                                overflow: hidden;
                                width: calc(100% - 42px);

                                .bage {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 100%;
                                    width: 32px;
                                    height: 32px;

                                    span {
                                        color: white;
                                        font-family: Inter;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 14px;
                                        letter-spacing: 0em;
                                        text-align: center;
                                    }
                                }
                            }

                            .prio {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 32px;
                                height: 32px;

                                .urgent {
                                    color: #ff3d00;
                                }

                                .medium {
                                    color: #ffa800;
                                }

                                .low {
                                    color: #7ae229;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ::-webkit-scrollbar {
//     width: 0px;
// }

.scrollButtonLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0px;
    bottom: 24px;
    // background-color: #29abe2;
    background-color: rgba(41, 171, 226, 0.5);
    font-size: 20px !important;
    color: white;
    border-radius: 100%;
    cursor: pointer;

    .icon {
        font-size: 20px;
        color: white;
    }
}

.scrollButtonRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
    bottom: 24px;
    // background-color: #29abe2;
    background-color: rgba(41, 171, 226, 0.5);
    font-size: 20px !important;
    color: white;
    border-radius: 100%;
    cursor: pointer;

    .icon {
        font-size: 20px;
        color: white;
    }
}

@media (max-width: 1200px) {
    .boardContent {
        padding: 0px 75px 20px 75px !important;
        flex-direction: column;
        overflow: hidden;
        overflow-y: scroll;
    }

    .tasksContainer {
        min-width: 100% !important;
    }

    .tasksList {
        flex-direction: row !important;
        width: 100%;
        overflow-x: scroll;
    }

    .task {
        width: 200px !important;
        margin-right: 20px !important;
        margin-bottom: unset !important;
        height: 213px !important;
        width: 100%;
        cursor: grab;
    }
}

@media (max-width: 900px) {
    .headline {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: unset !important;
        padding: 79.5px 64px 55.5px 64px;
        box-sizing: border-box;

        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .subheadline {
            width: 100%;
        }
    }

    .boardContent {
        height: calc(100vh - 363px) !important;
    }
}

@media (max-width: 769px) {
    .headline {
        padding: 48px 16px 55.5px 16px !important;
        box-sizing: border-box;
    }

    .boardContent {
        height: calc(100vh - 400px) !important;
        padding: 0px 16px 20px 16px !important;
    }
}
