<div class="addTask">
    <header>
        <h3>Add Task</h3>
    </header>
    <form>
        <div class="formular">
            <div class="formLeft">
                <div class="formField">
                    <span>Title<span>*</span></span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" placeholder="Password" class="width100">
                        </div>
                    </div>
                </div>
    
                <div class="formField">
                    <span>Description</span>
                    <textarea class="formTextarea" placeholder="Enter a Desription"></textarea>
                </div>
                <div class="formField">
                    <span>Assigned to</span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text"  value="Select contacts to assign"  *ngIf="assignBtnDisabled" (click)="asignToClicked()">
                            <input type="text" *ngIf="!assignBtnDisabled">
                            <img src="../../assets/img/add_task/arrow_drop_downaa.png" [class.rotate180deg]="!assignBtnDisabled" style="cursor: pointer;" (click)="asignBack()">
                            <div class="dropAssign" *ngIf="!assignBtnDisabled">
                                <div *ngFor="let contact of data.allContacts">
                                    <div class="contactLine">
                                        <div class="contactLineLeft">
                                            <div class="bage" [style.background-color]="contact.backgroundColor">
                                                <span>{{contact.nameAbbreviation}}</span>
                                            </div>
                                            <p>
                                                {{contact.username}}
                                            </p>    
                                        </div>
                                         <input type="checkbox">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dividerAdd"></div>
            <div class="formRight">
                <div class="formField">
                    <span>Due Date<span>*</span></span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="date" placeholder="text" class="width100">
                        </div>
                    </div>
                </div>
                <div class="prioBtnDiv">
                    <p>Prio</p>
                    <div class="prioBtnContent">
                        <div class="prioBtn" [class.urgentBtn]="!urgentSelected" [class.urgentBtnSelected]="urgentSelected" (click)="selectedPrio(1)">
                            <p>Urgent</p>
                            <span class="material-symbols-outlined urgent" >keyboard_double_arrow_up</span>
                        </div>
                        <div class="prioBtn" [class.mediumBtn]="!mediumSelected" [class.mediumBtnSelected]="mediumSelected" (click)="selectedPrio(2)">
                            <p>Medium</p>
                            <span class="material-symbols-outlined medium">
                                equal
                            </span>
                        </div>
                        <div class="prioBtn" [class.lowBtn]="!lowSelected" [class.lowBtnSelected]="lowSelected" (click)="selectedPrio(3)">
                            <p>Low</p>
                            <span class="material-symbols-outlined low">
                                keyboard_double_arrow_down
                            </span>
                        </div>
                    </div>
                </div>
    
                <div class="formField">
                    <span>Category<span>*</span></span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" placeholder="Select task categora">
                            <img src="../../assets/img/add_task/arrow_drop_downaa.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="formField">
                    <span>Subtask</span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" placeholder="Add new subtask">
                            <img src="../../assets/img/add_task/add.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="btnOuter">
            <p><span>*</span>This field is required</p>
            <div class="btnContent">
                
                <button class="secondaryBtn">
                    Clear
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
                <button class="primaryBtn">
                    Create Task
                    <span class="material-symbols-outlined">
                        done
                    </span>
                </button>
            </div>
            
        </div>
        



    </form>
</div>