<div class="addTask">
    <header *ngIf="!this.data.startBoardAddTaskView">
        <h3>Add Task</h3>
    </header>
    <form [formGroup]="addForm">
        <div class="formular">
            <div class="formLeft">
                <div class="formField">
                    <span>Title<span>*</span></span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" placeholder="Title" class="width100" formControlName="title">
                        </div>
                        <div class="warnContainer" *ngIf="!addForm.controls['title'].valid && addForm.controls['title'].touched">
                            *Title must be min. 2 characters, and less than 50 characters.
                        </div>
                    </div>
                </div>

                <div class="formField">
                    <span>Description</span>
                    <textarea class="formTextarea" placeholder="Enter a Desription" formControlName="description"></textarea>
                    <div style="display: flex; position:relative">
                        <div class="warnContainer" style="top: 0px;" *ngIf="!addForm.controls['description'].valid && addForm.controls['description'].touched">
                            *Description has to be max. 1000 characters.
                        </div>
                    </div>
                </div>
                <div class="formField">
                    <span>Assigned to</span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" value="Select contacts to assign" *ngIf="assignedToService.assignBtnDisabled"
                                (focus)="assignedToService.openAssignToDropdown()" formControlName="assignTo">
                            <input type="text" *ngIf="!assignedToService.assignBtnDisabled" formControlName="assignToSelect">
                            <img src="../../assets/img/add_task/arrow_drop_downaa.png"
                                [class.rotate180deg]="!assignedToService.assignBtnDisabled" style="cursor: pointer;"
                                (click)="assignedToService.toggleAssignToDropdown()">
                            <div class="dropAssign" *ngIf="!assignedToService.assignBtnDisabled">
                                <div *ngFor="let contact of data.assignedToList; let i = index;">
                                    <div class="contactLine">
                                        <div class="contactLineLeft">
                                            <div class="bage" [style.background-color]="contact.background_color">
                                                <span>{{contact.name_abbreviation}}</span>
                                            </div>
                                            <p>
                                                {{contact.username}} <span
                                                    *ngIf="data.loggedUserData[0].id == contact.id_user">(Du)</span>
                                            </p>
                                        </div>
                                        <input type="checkbox" [id]="'checked' + i"
                                            (click)="assignedToService.selectionCheckbox('checked' + i, i)"
                                            [checked]="data.assignedToList[i].checked">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="assignToList">
                    <div *ngFor="let contact of data.assignedToList; let i = index;">
                        <div class="bageItem" [style.background-color]="contact.background_color"
                            *ngIf="contact.checked">
                            <span>{{contact.name_abbreviation}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dividerAdd"></div>
            <div class="formRight">
                <div class="formField">
                    <span class="head">Due Date<span>*</span></span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="date" placeholder="text" class="width100" formControlName="dueDate">
                        </div>
                        <div class="warnContainer" *ngIf="!addForm.controls['dueDate'].valid && addForm.controls['dueDate'].touched">
                            *Set Date invalid
                        </div>
                    </div>
                </div>
                <div class="prioBtnDiv">
                    <p>Prio</p>
                    <div class="prioBtnContent">
                        <div class="prioBtn" [class.urgentBtn]="!prioBtnService.urgentSelected"
                            [class.urgentBtnSelected]="prioBtnService.urgentSelected" (click)="prioBtnService.selectedPrio(1)">
                            <p>Urgent</p>
                            <span class="material-symbols-outlined urgent">keyboard_double_arrow_up</span>
                        </div>
                        <div class="prioBtn" [class.mediumBtn]="!prioBtnService.mediumSelected"
                            [class.mediumBtnSelected]="prioBtnService.mediumSelected" (click)="prioBtnService.selectedPrio(2)">
                            <p>Medium</p>
                            <span class="material-symbols-outlined medium">
                                equal
                            </span>
                        </div>
                        <div class="prioBtn" [class.lowBtn]="!prioBtnService.lowSelected" [class.lowBtnSelected]="prioBtnService.lowSelected"
                            (click)="prioBtnService.selectedPrio(3)">
                            <p>Low</p>
                            <span class="material-symbols-outlined low">
                                keyboard_double_arrow_down
                            </span>
                        </div>
                    </div>
                </div>

                <div class="formField">
                    <span class="head">Category<span>*</span></span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" placeholder="Select task category" formControlName="category"
                                (focus)="toogleCategoryDropdown()">
                            <img src="../../assets/img/add_task/arrow_drop_downaa.png"
                                [class.rotate180deg]="categoryDropdown" style="cursor: pointer;"
                                (click)="toogleCategoryDropdown()">
                            <div class="dropCategory" *ngIf="categoryDropdown">
                                <p (click)="setCategory('Technical Task')">Technical Task</p>
                                <p (click)="setCategory('User Story')">User Story</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formField">
                    <span class="head">Subtask</span>
                    <div class="formInputs">
                        <div class="formInput">
                            <input type="text" placeholder="Add new subtask" formControlName="subtask" (focus)="subtaskService.subtaskSelection()" #subtaskInput (keyup)="subtaskService.btnPressed($event)" [id]="subtaskInput">
                            <span class="material-symbols-outlined subtask" *ngIf="!subtaskService.subtaskEdit" (click)="activatedSubtaskEdit()">
                                add
                            </span>
                            <span class="material-symbols-outlined closeSubtask" *ngIf="subtaskService.subtaskEdit" (click)="closeAddSubtask()">
                                close
                            </span>
                            <div class="subtaskDivider" style="height: 24px; border-left: 1px solid #D1D1D1" *ngIf="subtaskService.subtaskEdit"></div>
                            <span class="material-symbols-outlined addSubtask" *ngIf="subtaskService.subtaskEdit" (click)="subtaskService.addSubtask()">
                                done
                            </span>
                        </div>
                    </div>
                    <div class="subtaskList">
                        <div class="subtaskItem" *ngFor="let item of subtaskService.subtasksList; let i= index;" (mouseenter)="subtaskService.subtaskHovered(i)" (mouseleave)="subtaskService.subtaskNotHovered()" (dblclick)="subtaskService.doubleClick(i)">
                            <li *ngIf="subtaskService.subtaskListEditActive != i">
                                <span >{{item.subtask}}</span>
                            </li>
                            <input type="text" [value]="item.subtask" *ngIf="subtaskService.subtaskListEditActive == i" (blur)="subtaskService.leaveSubtaskListEdit(i)" formControlName="subListItem" [id]="'subtaskListItem' + i" (keyup)="subtaskService.subtaskItemListBtnPressed($event, i)">
                            <div class="icons" *ngIf="subtaskService.hoveredSubtask == i && subtaskService.subtaskListEditActive != i">
                                <span class="material-symbols-outlined iconPen" (click)="subtaskService.editSubtaskList(i)">edit</span>
                                <div class="subtaskDivider" ></div>
                                <span class="material-symbols-outlined iconTrash" (click)="subtaskService.deleteSubTaskItem(i)">delete</span>
                            </div>
                            <div class="icons" *ngIf="subtaskService.subtaskListEditActive == i">
                                <span class="material-symbols-outlined iconTrash">done</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

        <div class="btnOuter">
            <p><span>*</span>This field is required</p>
            <div class="btnContent">

                <button class="secondaryBtn" type="button" (click)="clearForm()">
                    Clear
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
                <button type="button" [disabled]="!addForm.valid || this.categoryDropdown" [class.primaryBtn]="addForm.valid"
                    [class.disabledBtn]="!addForm.valid || this.categoryDropdown" (click)="createTask()">
                    Create Task
                    <span class="material-symbols-outlined">
                        done
                    </span>
                </button>
            </div>

        </div>




    </form>
</div>