.addTask {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 56px;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        h3 {
            font-family: Inter;
            font-size: 61px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: left;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 976.25px;
        height: 424px;
        gap: 138px;
        // border: 1px solid red;

        .formular {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 976.25px;
            height: 424px;

            .formLeft {
                display: flex;
                flex-direction: column;
                width: 440px;
                gap: 32px;

                .formField {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 8px;

                    span {
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;

                        span {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #ff8190;
                        }
                    }

                    textarea {
                        display: flex;
                        position: relative;
                        width: 100%;
                        height: 136px;
                        border: 1px solid #d1d1d1;
                        border-radius: 10px;
                        padding: 12px 21px;
                        box-sizing: border-box;
                        background-color: white;
                        padding: 12px 21px;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
            }

            .dividerAdd {
                display: flex;
                height: 100%;
                border-right: 1px solid #d1d1d1;
            }

            .formRight {
                display: flex;
                flex-direction: column;
                width: 440px;
                gap: 32px;

                .formField {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 8px;

                    span {
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;

                        span {
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #ff8190;
                        }
                    }
                }

                .prioBtnDiv {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 8px;

                    p {
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                    }

                    .prioBtnContent {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;

                        .urgentBtn {
                            cursor: pointer;
                            &:hover {
                                transition: box-shadow 100ms ease-in-out;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }

                            .urgent {
                                color: #ff3d00;
                            }
                        }

                        .urgentBtnSelected {
                            cursor: pointer;
                            transition: background-color 100ms ease-in-out;
                            background-color: #ff3d00 !important;
                            color: white;
                            &:hover {
                                transition: box-shadow 100ms ease-in-out;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }

                            .urgent {
                                color: white !important;
                            }
                        }

                        .mediumBtn {
                            cursor: pointer;
                            &:hover {
                                transition: box-shadow 100ms ease-in-out;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }

                            .medium {
                                color: #ffa800;
                            }
                        }

                        .mediumBtnSelected {
                            cursor: pointer;
                            transition: background-color 100ms ease-in-out;
                            background-color: #ffa800 !important;
                            color: white;
                            &:hover {
                                transition: box-shadow 100ms ease-in-out;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }

                            .medium {
                                color: white !important;
                            }
                        }

                        .lowBtn {
                            cursor: pointer;
                            &:hover {
                                transition: box-shadow 100ms ease-in-out;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }

                            .low {
                                color: #7ae229;
                            }
                        }

                        .lowBtnSelected {
                            cursor: pointer;
                            transition: background-color 100ms ease-in-out;
                            background-color: #7ae229 !important;
                            color: white;
                            &:hover {
                                transition: box-shadow 100ms ease-in-out;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }

                            .low {
                                color: white !important;
                            }
                        }

                        .prioBtn {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 136px;
                            height: 56px;
                            padding: 16px 10px;
                            box-sizing: border-box;
                            background-color: white;
                            border-radius: 10px;

                            p {
                                font-family: Inter;
                                font-size: 20px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: left;
                                margin-block-start: 0px;
                                margin-block-end: 0px;
                            }

                            .urgent {
                                color: #ff3d00;
                            }

                            .low {
                                color: #7ae229;
                            }
                        }
                    }
                }
            }
        }

        .btnOuter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            p {
                display: flex;
                align-items: end;
                // height: 56.78px;
                height: 100%;
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                letter-spacing: 0em;
                margin-block-start: 0px;
                margin-block-end: 0px;

                span {
                    color: #ff3d00;
                }
            }

            .btnContent {
                display: flex;
                flex-direction: row;
                gap: 16px;
            }
        }
    }
}

.dropAssign {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 46px;
    left: 0px;
    width: 100%;
    height: 228px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;

    div {
        .contactLine {
            display: flex;
            flex-direction: row;
            padding: 8px 16px;
            box-sizing: border-box;
            justify-content: space-between;

            .contactLineLeft {
                display: flex;
                flex-direction: row;
                height: 42px;
                align-items: center;
                gap: 16px;

                .bage {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 42px;
                    width: 42px;
                    border-radius: 100%;

                    span {
                        font-family: Inter;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: white;
                    }
                }

                p{
                    font-family: Inter; 
                    font-size: 20px; 
                    font-weight: 400; 
                    line-height: 24px; 
                    letter-spacing: 0em; 
                    text-align: left; 
                    margin-block-start: 0px; 
                    margin-block-end: 0px;
                }
            }

            input{
                width: 24px; 
                height: 24px;
            }
        }
    }
}

.rotate180deg{
    rotate: 180deg;
}


.bageList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    border-radius: 100%;

    span {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
    }
}