.padding{
    display: flex;
    padding: 10vh 10.16vw;
    height: calc(100vh - 136px);
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.paddingContacts{
    display: flex;
    height: calc(100vh - 96px);
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 0px;
}