<app-summary *ngIf="data.selectedMenu == 1" class="padding"></app-summary>
<app-add-task *ngIf="data.selectedMenu == 2" class="padding"></app-add-task>
<app-board *ngIf="data.selectedMenu == 3"></app-board>
<app-contacts *ngIf="data.selectedMenu == 4" class="paddingContacts"></app-contacts>
<app-privacy-document *ngIf="data.selectedMenu == 5"></app-privacy-document>
<app-legal-document *ngIf="data.selectedMenu == 6"></app-legal-document>
<app-help-document *ngIf="data.selectedMenu == 7"></app-help-document>